@model BookAPP.Models.BooksDetails

@{
    ViewData["Title"] = "BorrowBooks";
}

<h2>BorrowBooks</h2>

<h4>BooksDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BorrowBooks">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <select asp-for="Name" class="form-control">
                    <option value="Book1">Book1</option>
                    <option value="Book2">Book2</option>
                    <option value="Book3">Book3</option>
                    <option value="Book4">Book4</option>
                </select>
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
